<div class="container">
  <h1 class="title text-center">Password Generator</h1>
  <div class="input-box">
    <input type="text" [(ngModel)]="password" class="passbox" readonly />
  </div>
  <ngx-slider [(value)]="value" [options]="options"></ngx-slider>

  <div class="checkbox-wrap">
    <input class="checkbox-input" type="checkbox" [(ngModel)]="includeUppercaseLetters" />
    <label class="checkbox-label">Include Uppercase</label>
  </div>

  <div class="checkbox-wrap">
    <input class="checkbox-input" type="checkbox" [(ngModel)]="includeLowercaseLetters" />
    <label class="checkbox-label">Include lowercase</label>
  </div>

  <div class="checkbox-wrap">
    <input class="checkbox-input" type="checkbox" [(ngModel)]="includeNumbersLetters" />
    <label class="checkbox-label">Include Numbers</label>
  </div>

  <div class="checkbox-wrap">
    <input class="checkbox-input" type="checkbox" [(ngModel)]="includeSymbolsLetters" />
    <label class="checkbox-label">Include Symbols</label>
  </div>

  <div class="password-length-wrap">
    <label class="password-title">Password Strength:</label>
    <div class="password-strength-meter">
      <password-strength-meter [password]="password" enableFeedback />
    </div>
  </div>

  <div>
    <button (click)="generatePassword()">Generate Password</button>
  </div>

</div>